[req]
prompt			= no
distinguished_name	= dn
req_extensions		= ext

[dn]
CN			= JSC Komitex IKS-GATEWAY
emailAddress 		= itiss@komitex.ru
O			= JSC Komitex
L			= Syktyvkar
C			= RU

[ext]
subjectAltName		= DNS:*.x.komitex.ru,DNS:x.komitex.ru
